<link rel="import" href="../polymer/polymer.html">

<!--
`<cells-bfm-controller-invoice>` description.

Example:

```html
<cells-bfm-controller-invoice></cells-bfm-controller-invoice>
```

@demo demo/index.html
-->
<dom-module id="cells-bfm-controller-invoice">
  <template>



  </template>
  <script src="cells-bfm-controller-invoice.js"></script>
</dom-module>
